#stationInfo-table-title {
  position: absolute;
  bottom: 82%;
  right: 3%;
  height: 5%;
  width: 94%;
}

#stationInfo-table-title tr {
  /* background-color: none; */
  color: #f0f8fc;  
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}

#stationInfo-table-title th {
 font-weight: normal;
}

#stationInfo-content {
  position: absolute;
  bottom: 7%;
  right: 3%;
  overflow: hidden;
  height: 75%;
  width: 94%;
  overflow-y: auto;
}

#stationInfo-table a {
  color: #fff;
  text-decoration: none;
}

#stationInfo-table a:visited {
  color: #fff;
}

#stationInfo-table a:active {
  color: #fff;
}
