#recruitmentBoard {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

#platformStatistic {
  position: absolute;
  top: 34%;
  right: 35%;
}

#stationChart {
  position: absolute;
  top: 12%;
  right: 3%;
}

#entityStatistic {
  position: absolute;
  top: 12%;
  right: 35%;
}